@font-face {
  font-family: Gordita, sans-serif;
  src: url("/public/fonts/Gordita-Font/Gordita-Regular.otf");
  font-weight: 500;
}

@font-face {
  font-family: Gordita, sans-serif;
  src: url("/public/fonts/Gordita-Font/Gordita-Medium.otf");
  font-weight: 600;
}

@font-face {
  font-family: Gordita, sans-serif;
  src: url("/public/fonts/Gordita-Font/Gordita-Bold.otf");
  font-weight: 700;
}

/* main code */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply !font-primary text-dark;
  }

  .container {
    @apply max-w-[1440px] mx-auto ;
  }
  .smooth {
    @apply transition-all ease-in-out duration-300;
  }
}
