/* import by font face */
@font-face {
  font-family: "Graphik";
  src: url("/public/fonts/graphik/GraphikRegular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("/public/fonts/graphik/GraphikBold.otf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Graphik";
  src: url("/public/fonts/graphik/GraphikLight.otf") format("truetype");
  font-weight: lighter;
  font-style: lighter;
}
@font-face {
  font-family: "Graphik";
  src: url("/public/fonts/graphik/GraphikMedium.otf") format("truetype");
  font-weight: medium;
  font-style: medium;
}
/* import by font face */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply !font-primary text-dark;
  }

  .container {
    @apply max-w-[1440px] mx-auto;
  }
  .smooth {
    @apply transition-all ease-in-out duration-300;
  }
}
